
body{
    margin: 0;
    padding: 0;
    background: url('../assets/img/hospital3.png');
    background-size: cover;
    background-position: center;
    font-family:  sans-serif;    
    overflow-y: hidden;
    overflow-x: hidden;
}


.select-zona{
	width: 100%;
	height: 2em;
	font-weight: bold;
}

.text-title{
    /*color: #800812 !important; /*#044282  (azul)*/ /*#ca8d05;*/
    /*text-shadow: 0 0 9px #e6dbdb;*/
    color: #800812 !important;
    text-shadow: 3px 2px 5px #ccc0c0;
}

.text-subtitle{
    color: #044282;/*#8A0A08; /*#044282  (azul)*/
    text-shadow: 0 0 3px #e6dbdb;
}

.img-logo{
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
}